## Geo Coding API

In [8]:
import pandas as pd
import requests

In [3]:
# Recommended subset for weather visualization
polish_cities_map = [
    "Warsaw",      # Central
    "Krakow",      # South
    "Lodz",        # Central
    "Wroclaw",     # Southwest
    "Poznan",      # West (your location!)
    "Gdansk",      # North (coast)
    "Szczecin",    # Northwest (coast)
    "Lublin",      # East
    "Katowice",    # South (Silesia)
    "Bialystok",   # Northeast
    "Olsztyn",     # North
    "Rzeszow"      # Southeast
]

URL = 'https://geocoding-api.open-meteo.com/v1/search'

### Loading Geo Data

In [4]:
def cities_payload(city: str) -> dict:
    return {
        'name': city, 
        'count': '1',
        'language': 'en',
        'format' : 'json'
    }   

cities_json = []

for city in polish_cities_map:
    payload = cities_payload(city)
    r = requests.get(URL, params=payload)
    cities_json.append(r.json())

extracted_cities_res = [item['results'][0] for item in cities_json]
cities_res_df = pd.DataFrame(extracted_cities_res)

### SQLAlchemy for database connectivity

In [ ]:
from sqlalchemy import create_engine, text

engine = create_engine("postgresql://postgres:postgres@localhost:5432/open_meteo", echo=True)

display(cities_res_df.to_sql(name='cities', con=engine,if_exists='append',index=False))
# conn = engine.connect()

# conn.execute(text("CREATE TABLE test (name VARCHAR, surname VARCHAR)"))

# conn.commit()

2026-02-08 20:35:02,695 INFO sqlalchemy.engine.Engine select pg_catalog.version()
2026-02-08 20:35:02,696 INFO sqlalchemy.engine.Engine [raw sql] {}
2026-02-08 20:35:02,699 INFO sqlalchemy.engine.Engine select current_schema()
2026-02-08 20:35:02,700 INFO sqlalchemy.engine.Engine [raw sql] {}
2026-02-08 20:35:02,702 INFO sqlalchemy.engine.Engine show standard_conforming_strings
2026-02-08 20:35:02,702 INFO sqlalchemy.engine.Engine [raw sql] {}
2026-02-08 20:35:02,703 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2026-02-08 20:35:02,708 INFO sqlalchemy.engine.Engine SELECT pg_catalog.pg_class.relname
FROM pg_catalog.pg_class JOIN pg_catalog.pg_namespace ON pg_catalog.pg_namespace.oid = pg_catalog.pg_class.relnamespace
WHERE pg_catalog.pg_class.relname = %(table_name)s AND pg_catalog.pg_class.relkind = ANY (ARRAY[%(param_1)s, %(param_2)s, %(param_3)s, %(param_4)s, %(param_5)s]) AND pg_catalog.pg_table_is_visible(pg_catalog.pg_class.oid) AND pg_catalog.pg_namespace.nspname != %(nspname_1)s
2026-02-08 20:35:02,709 INFO sqlalchemy.engine.Engine [generated in 0.00066s] {'table_name': 'cities', 'param_1': 'r', 'param_2': 'p', 'param_3': 'f', 'param_4': 'v', 'param_5': 'm', 'nspname_1': 'pg_catalog'}
2026-02-08 20:35:02,715 INFO sqlalchemy.engine.Engine
CREATE TABLE cities (
	id BIGINT,
	name TEXT,
	latitude FLOAT(53),
	longitude FLOAT(53),
	elevation FLOAT(53),
	feature_code TEXT,
	country_code TEXT,
	admin1_id BIGINT,
	admin2_id BIGINT,
	admin3_id BIGINT,
	timezone TEXT,
	population BIGINT,
	country_id BIGINT,
	country TEXT,
	admin1 TEXT,
	admin2 TEXT,
	admin3 TEXT
)


2026-02-08 20:35:02,715 INFO sqlalchemy.engine.Engine [no key 0.00085s] {}
2026-02-08 20:35:02,821 INFO sqlalchemy.engine.Engine INSERT INTO cities (id, name, latitude, longitude, elevation, feature_code, country_code, admin1_id, admin2_id, admin3_id, timezone, population, country_id, country, admin1, admin2, admin3) VALUES (%(id__0)s, %(name__0)s, %(latitude__0)s, %(longitude ... 3371 characters truncated ... pulation__11)s, %(country_id__11)s, %(country__11)s, %(admin1__11)s, %(admin2__11)s, %(admin3__11)s)
2026-02-08 20:35:02,821 INFO sqlalchemy.engine.Engine [generated in 0.00017s (insertmanyvalues) 1/1 (unordered)] {'name__0': 'Warsaw', 'latitude__0': 52.22977, 'timezone__0': 'Europe/Warsaw', 'longitude__0': 21.01178, 'id__0': 756135, 'country_code__0': 'PL', 'admin1_id__0': 858787, 'country_id__0': 798544, 'admin3_id__0': 7531926, 'country__0': 'Poland', 'elevation__0': 113.0, 'admin2__0': 'Warszawa', 'admin1__0': 'Masovian', 'admin3__0': 'Warsaw', 'admin2_id__0': 6695624, 'population__0': 1702139, 'feature_code__0': 'PPLC', 'name__1': 'Krakow', 'latitude__1': 50.06143, 'timezone__1': 'Europe/Warsaw', 'longitude__1': 19.93658, 'id__1': 3094802, 'country_code__1': 'PL', 'admin1_id__1': 858786, 'country_id__1': 798544, 'admin3_id__1': 7531791, 'country__1': 'Poland', 'elevation__1': 219.0, 'admin2__1': 'Kraków', 'admin1__1': 'Lesser Poland', 'admin3__1': 'Kraków', 'admin2_id__1': 6690154, 'population__1': 755050, 'feature_code__1': 'PPLA', 'name__2': 'Lodz', 'latitude__2': 51.77058, 'timezone__2': 'Europe/Warsaw', 'longitude__2': 19.47395, 'id__2': 3093133, 'country_code__2': 'PL', 'admin1_id__2': 3337493, 'country_id__2': 798544, 'admin3_id__2': 7531754, 'country__2': 'Poland', 'elevation__2': 214.0, 'admin2__2': 'Lodz', 'admin1__2': 'Łódź Voivodeship', 'admin3__2': 'Łódź', 'admin2_id__2': 6697536, 'population__2': 768755 ... 104 parameters truncated ... 'latitude__9': 53.13333, 'timezone__9': 'Europe/Warsaw', 'longitude__9': 23.16433, 'id__9': 776069, 'country_code__9': 'PL', 'admin1_id__9': 858789, 'country_id__9': 798544, 'admin3_id__9': 7531591, 'country__9': 'Poland', 'elevation__9': 135.0, 'admin2__9': 'Białystok', 'admin1__9': 'Podlachian', 'admin3__9': 'Białystok', 'admin2_id__9': 7530772, 'population__9': 291855, 'feature_code__9': 'PPLA', 'name__10': 'Olsztyn', 'latitude__10': 53.77995, 'timezone__10': 'Europe/Warsaw', 'longitude__10': 20.49416, 'id__10': 763166, 'country_code__10': 'PL', 'admin1_id__10': 858791, 'country_id__10': 798544, 'admin3_id__10': 7532914, 'country__10': 'Poland', 'elevation__10': 139.0, 'admin2__10': 'Olsztyn', 'admin1__10': 'Warmia-Masuria', 'admin3__10': 'Olsztyn', 'admin2_id__10': 7530990, 'population__10': 171803, 'feature_code__10': 'PPLA', 'name__11': 'Rzeszów', 'latitude__11': 50.04132, 'timezone__11': 'Europe/Warsaw', 'longitude__11': 21.99901, 'id__11': 759734, 'country_code__11': 'PL', 'admin1_id__11': 858788, 'country_id__11': 798544, 'admin3_id__11': 7532474, 'country__11': 'Poland', 'elevation__11': 209.0, 'admin2__11': 'Rzeszów', 'admin1__11': 'Subcarpathia', 'admin3__11': 'Rzeszów', 'admin2_id__11': 7530819, 'population__11': 158382, 'feature_code__11': 'PPLA'}
2026-02-08 20:35:02,826 INFO sqlalchemy.engine.Engine COMMIT

12

In [7]:
new_cities = pd.read_sql(sql="SELECT * FROM cities", con=engine)
new_cities

2026-02-08 20:37:45,108 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2026-02-08 20:37:45,110 INFO sqlalchemy.engine.Engine SELECT pg_catalog.pg_class.relname
FROM pg_catalog.pg_class JOIN pg_catalog.pg_namespace ON pg_catalog.pg_namespace.oid = pg_catalog.pg_class.relnamespace
WHERE pg_catalog.pg_class.relname = %(table_name)s AND pg_catalog.pg_class.relkind = ANY (ARRAY[%(param_1)s, %(param_2)s, %(param_3)s, %(param_4)s, %(param_5)s]) AND pg_catalog.pg_table_is_visible(pg_catalog.pg_class.oid) AND pg_catalog.pg_namespace.nspname != %(nspname_1)s
2026-02-08 20:37:45,111 INFO sqlalchemy.engine.Engine [cached since 162.4s ago] {'table_name': 'SELECT * FROM cities', 'param_1': 'r', 'param_2': 'p', 'param_3': 'f', 'param_4': 'v', 'param_5': 'm', 'nspname_1': 'pg_catalog'}
2026-02-08 20:37:45,113 INFO sqlalchemy.engine.Engine SELECT * FROM cities
2026-02-08 20:37:45,113 INFO sqlalchemy.engine.Engine [raw sql] {}
2026-02-08 20:37:45,117 INFO sqlalchemy.engine.Engine ROLLBACK

,id,name,latitude,longitude,elevation,feature_code,country_code,admin1_id,admin2_id,admin3_id,timezone,population,country_id,country,admin1,admin2,admin3
0,756135,Warsaw,52.22977,21.01178,113.0,PPLC,PL,858787,6695624,7531926,Europe/Warsaw,1702139,798544,Poland,Masovian,Warszawa,Warsaw
1,3094802,Krakow,50.06143,19.93658,219.0,PPLA,PL,858786,6690154,7531791,Europe/Warsaw,755050,798544,Poland,Lesser Poland,Kraków,Kraków
2,3093133,Lodz,51.77058,19.47395,214.0,PPLA,PL,3337493,6697536,7531754,Europe/Warsaw,768755,798544,Poland,Łódź Voivodeship,Lodz,Łódź
3,3081368,Wroclaw,51.10000,17.03333,119.0,PPLA,PL,3337492,7530801,7531292,Europe/Warsaw,634893,798544,Poland,Lower Silesia,Wrocław,Wrocław
4,3088171,Poznan,52.40692,16.92993,69.0,PPLA,PL,3337498,7530858,7531836,Europe/Warsaw,570352,798544,Poland,Greater Poland,Poznań,Poznań
5,3099434,Gdansk,54.35227,18.64912,8.0,PPLA,PL,3337496,7531002,7531890,Europe/Warsaw,461865,798544,Poland,Pomerania,Gdańsk,Gdańsk
6,3083829,Szczecin,53.42894,14.55302,149.0,PPLA,PL,3337499,7530840,7531766,Europe/Warsaw,407811,798544,Poland,West Pomerania,Szczecin,Szczecin
7,765876,Lublin,51.25000,22.56667,183.0,PPLA,PL,858785,7530970,7532869,Europe/Warsaw,360044,798544,Poland,Lublin,Lublin,Lublin
8,3096472,Katowice,50.25841,19.02754,266.0,PPLA,PL,3337497,7530792,7532033,Europe/Warsaw,317316,798544,Poland,Silesia,Katowice,Katowice
9,776069,Bialystok,53.13333,23.16433,135.0,PPLA,PL,858789,7530772,7531591,Europe/Warsaw,291855,798544,Poland,Podlachian,Białystok,Białystok
10,763166,Olsztyn,53.77995,20.49416,139.0,PPLA,PL,858791,7530990,7532914,Europe/Warsaw,171803,798544,Poland,Warmia-Masuria,Olsztyn,Olsztyn
11,759734,Rzeszów,50.04132,21.99901,209.0,PPLA,PL,858788,7530819,7532474,Europe/Warsaw,158382,798544,Poland,Subcarpathia,Rzeszów,Rzeszów