## Geo Coding API

In [1]:
import pandas as pd
import requests

In [ ]:
# Recommended subset for weather visualization
polish_cities_map = [
    "Warsaw",      # Central
    "Krakow",      # South
    "Lodz",        # Central
    "Wroclaw",     # Southwest
    "Poznan",      # West (your location!)
    "Gdansk",      # North (coast)
    "Szczecin",    # Northwest (coast)
    "Lublin",      # East
    "Katowice",    # South (Silesia)
    "Bialystok",   # Northeast
    "Olsztyn",     # North
    "Rzeszow"      # Southeast
]

URL = 'https://geocoding-api.open-meteo.com/v1/search'

In [ ]:
def cities_payload(city: str) -> dict:
    return {
        'name': city, 
        'count': '1',
        'language': 'en',
        'format' : 'json'
    }   

cities_json = []

for city in polish_cities_map:
    payload = cities_payload(city)
    r = requests.get(URL, params=payload)
    cities_json.append(r.json())

extracted_cities_res = [item['results'][0] for item in cities_json]
cities_res_df = pd.DataFrame(extracted_cities_res)

                                              results  generationtime_ms
0   [{'id': 756135, 'name': 'Warsaw', 'latitude': ...           0.536919
1   [{'id': 3094802, 'name': 'Krakow', 'latitude':...           0.403285
2   [{'id': 3093133, 'name': 'Lodz', 'latitude': 5...           0.774264
3   [{'id': 3081368, 'name': 'Wroclaw', 'latitude'...           0.253677
4   [{'id': 3088171, 'name': 'Poznan', 'latitude':...           0.985622
5   [{'id': 3099434, 'name': 'Gdansk', 'latitude':...           0.115752
6   [{'id': 3083829, 'name': 'Szczecin', 'latitude...           0.458717
7   [{'id': 765876, 'name': 'Lublin', 'latitude': ...           0.563264
8   [{'id': 3096472, 'name': 'Katowice', 'latitude...           0.293970
9   [{'id': 776069, 'name': 'Bialystok', 'latitude...           0.681519
10  [{'id': 763166, 'name': 'Olsztyn', 'latitude':...           0.659108
11  [{'id': 759734, 'name': 'Rzeszów', 'latitude':...           0.215650