In [ ]:
import sqlite3
import requests
from entities.city import City
from typing import List
import pandas as pd

conn = sqlite3.connect('db/weather.db')

c = conn.cursor()

def get_cities() -> pd.DataFrame:
    with conn:
        c.execute('SELECT * FROM city')
        data = c.fetchall()
        cols = ['id', 'name', 'latitude', 'longitude', 'voivodeship', 'elevation']
        return pd.DataFrame(data=data, columns=cols)
# Another way:
def get_cities2() -> pd.DataFrame:
    return pd.read_sql('SELECT * FROM city', conn)

df = get_cities()
df2 = get_cities2()

df
df2

    elevation         id  latitude  longitude              name  voivodeship
0      756135     Warsaw  52.22977   21.01178          Masovian          113
1      759734    Rzeszów  50.04132   21.99901      Subcarpathia          209
2      763166    Olsztyn  53.77995   20.49416    Warmia-Masuria          139
3      765876     Lublin  51.25000   22.56667            Lublin          183
4      776069  Bialystok  53.13333   23.16433        Podlachian          135
5     3081368    Wroclaw  51.10000   17.03333     Lower Silesia          119
6     3083829   Szczecin  53.42894   14.55302    West Pomerania          149
7     3088171     Poznan  52.40692   16.92993    Greater Poland           69
8     3093133       Lodz  51.77058   19.47395  Łódź Voivodeship          214
9     3094802     Krakow  50.06143   19.93658     Lesser Poland          219
10    3096472   Katowice  50.25841   19.02754           Silesia          266
11    3099434     Gdansk  54.35227   18.64912         Pomerania            8

In [19]:
with conn:
    c.execute("""PRAGMA table_info(city);""")
    results = c.fetchall()
    print(results)

cols = [x[1] for x in results]
cols

[(0, 'id', 'INTEGER', 0, None, 1), (1, 'name', 'TEXT', 0, None, 0), (2, 'latitude', 'REAL', 0, None, 0), (3, 'longitude', 'REAL', 0, None, 0), (4, 'voivodeship', 'TEXT', 0, None, 0), (5, 'elevation', 'INTEGER', 0, None, 0)]

['id', 'name', 'latitude', 'longitude', 'voivodeship', 'elevation']